body {
    background-color: #121212;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

input:focus, input:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
}